@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
h1, h2, h3,
p {
    margin: 0;
}

  
/* Custom Properties */
  :root {
    --ff-mont: 'Montserrat', serif;
    --ff-frau: 'Fraunces', serif;

    --fw-m: 500;
    --fw-b: 700;

    font-size: 10px;
    --fs-0: 3.8rem;
    --fs-1: 3.2rem;
    --fs-2: 2.8rem;                                       /* fs = font size */
    --fs-3: 2.6rem;
    --fs-4: 2.2rem;
    --fs-p: 1.4rem;
    --fs-p1: 1.3rem;
    --fs-overline: 1.2rem;

    --clr-dark-cyan: #3c8067; 
    --clr-cream: #f2ebe3;
    --clr-dark-blue: #1c232b;
    --clr-dark-grayish-blue: #6c7289;
    --clr-white: #ffffff;

    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);
    
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;
  }

/* General styles */
body {
    cursor: default;
    scroll-behavior: smooth;
    background-color: var(--clr-cream);
}
img {
    max-width: 100%;
}

/* General typography */
h1 {
    font-family: var(--ff-frau);
    font-size: var(--fs-1);
    font-weight: var(--fw-b);
    line-height: 3.2rem;
    color: var(--clr-dark-blue);
}
h2 {
    font-family: var(--ff-mont);
    font-size: var(--fs-overline);
    font-weight: var(--fw-m);
    line-height: 1.46rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-dark-grayish-blue);
}
p {
    font-family: var(--ff-mont);
    font-size: var(--fs-p);
    font-weight: var(--fw-m);
    line-height: 2.3rem;
    color: var(--clr-dark-grayish-blue);
}

.main {
    background-color: var(--clr-cream);
}
.display {
    background-color: var(--clr-white);
    width: 91%;
    margin: 3rem auto;
    border-radius: 1rem;
    overflow: hidden;
}
@media(min-width: 440px) {
    .display {
        max-width: 400.4px
    }
}
@media (min-width: 768px) {
    .display {
        max-width: 600px;
        max-height: 450px;
        }
}
.container {
    background-color: var(--clr-white);
    width: 86%;
    margin: auto;
}

/* Display - Header */
@media (min-width: 768px) {
    .display__container {
        padding: 2.8rem
    }
}
.display__img {
    width: 100%;
}
@media (min-width: 768px) {
    .display__img {
        max-width: 50%;
    }
}
.overline {
    margin: 2.2rem 0 1.2rem 0;
}
@media (min-width: 768px) {
    .overline {
        margin-top: 0.4rem;
        margin-bottom: 2rem;
    }
}
.display__body {
    margin: 2rem 0;
}
@media (min-width: 768px) {
    .display__body {
        margin: 2.4rem 0 2.9rem 0;
    }
}
.display__pricing {
    display: flex;
    flex-direction: column;
}
.display__pricing-price {
    color: var(--clr-dark-cyan);
    display: flex;
    align-items: center;
}
.display__pricing-original-price {
    font-family: var(--ff-mont);
    font-size: var(--fs-p1);
    font-weight: var(--fw-m);
    line-height: 2.3rem;
    color: var(--clr-dark-grayish-blue);
    margin: 0 2rem;
}
.cart__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    width: 100%;
    margin: 2rem auto 2.4rem auto;
    background-color: var(--clr-dark-cyan);
    border-radius: 1rem;
    font-family: var(--ff-mont);
    font-size: var(--fs-p);
    font-weight: var(--fw-b);
    line-height: 1.7rem;
    color: var(--clr-white);
    text-decoration: none;
}
@media (min-width: 768px) {
    .cart__btn {
        margin: 2.9rem auto 3.2rem auto;
    }
}
.cart {
    width: 1.4rem;
    height: 1.6rem;
    margin-right: 1rem;
}
@media (min-width: 768px) {
    .display {
        display: flex;
    }
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: #3e52a3; 
}